*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}

body{
   background-image: url(https://cdn5.vectorstock.com/i/1000x1000/72/44/realistic-colorful-blank-sticky-notes-with-clip-vector-31267244.jpg);
   overflow-x: hidden;
} 

.upper-container{
   height: 80vh;
   width: 80vw;
   margin: 5em 10em;
   /* padding-top: -20px; */
   border: double 7px rgb(252, 3, 3);
   border-top-left-radius: 250px;
   border-bottom-right-radius: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(85, 55, 55, 0.6);
}

#title{
   height: 50px; width: 250px; font-size: 30px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; 
   padding: 10px 15px;
   border-bottom: 5px solid black;
   border-top: none;
   border-left: none;
   border-right: none;

   border-radius: 10px;
   margin-left: -100px;
   /* margin-bottom: 10px; */
}

#txt-box{
   height: 300px; width: 350px; font-size: 25px; font-weight: bold; font-family:cursive; 
   border-top-left-radius: 15px;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 25px;
   box-shadow: 20px 20px 15px rgba(1, 1, 1, 0.936);
   padding: 20px 15px;
}

::placeholder{
   opacity: 0.6;
   font-size: 20px;
}

.color-box{
   justify-content: center;
   align-items: center;
   padding: 25px 200px;
   /* font-size: 25px; */
   /* padding-left: 180px; */

}

button{
   background-color: cyan;
   color: black;
   height: 50px;
   width: 250px;
   font-size: 20px;
   font-weight: bolder;
   border: double 7px rgb(252, 3, 3);
   border-radius: 50px;
   cursor: grab;
   margin: 10px 250px;
}

#notes-container{
   background-color: black;
   height: 110vh;
   width: 99vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* margin: 10px; */
   padding: 20px;
   border-radius: 50px;
   border: 2px dashed red;
}

#notes-container h2{
   font-size: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   /* text-decoration: underline dodgerblue; */
   color: #0a0a0a;
   margin: 5px;
   border-bottom: 2px solid;
}

.notes p{
   font-size: 25px;
   font-family: cursive;
   color: #f8f8f8;
   margin: 5px;
}

.notes{
   display: flex;
   justify-content: start;
   width: 320px;
   height: 300px;
   margin: 22px;
   padding: 10px;
   /* padding-right: 25px; */
   
   border-radius: 12px;
   box-shadow: 5px 5px 10px 1px greenyellow;
   
   position: relative;
   border: 2px solid red;
} 

.delete{
   position: absolute;
   top: -5px;
   left: 35px;
   background-color: rgb(8, 0, 0);
   color: #f8f8f8;
   border: none;
   border-radius: 100px;
   padding: 5px 10px;
   cursor: pointer;
   /* border-radius: 5px; */
   font-weight: bold;
   font-size: 16px;
   height: 30px;
   width: 30px;
}

